*{
  font-size: 16px;
  color: white;
}
h1{
  font-size: 25px;
  text-align: center;
}
h4{
  background-color: blue;
}
h2{
  background-color: grey;
}
h3{
  background-color: red;
}
img{
  max-width: 100%;
}
table
{
  border-collapse: collapse;
  text-align: center;
}
td
{
  border: 1px solid white;
}

#titre{
  background-color: grey;
}

.image{
  width: 300px;
  height: 137px;
}

@media (min-resolution: 1dppx){
  .image{
    background: url(../img/logo-iut.jpg) no-repeat 0 0;
    background-size: 100% auto;
    margin: auto;
  }
  body{
    background: url(../img/bg.jpg) no-repeat 0 0;
    background-size: cover;
  }
}
@media screen and (max-width: 640px) {
  table,
  tbody,
  tr,
  td {
    display: block;
  }
}
